h1{ font-weight:normal;}
h2{ font-weight:normal;}
h3{ font-weight:normal;}
h4{ font-weight:normal;}
h5{ font-weight:normal;}
h6{ font-weight:normal;}

.cuerpo {
	width:900px; 
	background-color:#fff;
	padding-bottom:10px; 
	font-family:Verdana, Geneva, sans-serif; 
	color:#666;	
	
}

.reporte_header_fondo {
	width:900px; 
	height:110px;
	border-top:1px solid #fff;	
}

.cont_logotipo_header {
	width:200px; 
	height:110px; 
	border:px solid #ccc;
	background-color:#fff;
	float:left;
}
.logotipo_header {
	width:160px; 
	height:90px; 
	border:0px solid #ccc; 
	margin-left:20px; 
	margin-top:10px; 
	font-size:24px; 
	color:#0082B4;
}
.titulo_header {
	width:460px;  
	border:0px solid #ccc; 
	margin-left:20px; 
	margin-top:15px; 
	font-size:24px; 
	color:#444;
	display:inline-block;
	vertical-align:top;
}
.subtitulo_header {
	width:460px;  
	border:0px solid #ccc; 
	margin-left:20px; 
	margin-top:8px; 
	font-size:13px; 
	color:#444;
	display:inline-block;
	vertical-align:top;

}
.estilo_folio {
	width:160px;
	margin-top:10px;
	margin-left:10px;
	padding-bottom:1px;
	color:#444;
	font-size:19px;
	text-align: left;
}
.datos_emision {
	width:160px;  
	border:0px solid #ccc; 
	margin-left:10px; 
	margin-top:8px; 
	font-size:12px; 
	color:#444;
	display:inline-block;
	vertical-align:top;
}

.contenedor_info {
	width:900px;
	padding-bottom:30px;
	background-color:#fff;
	border-top:1px  dotted #bbb;
	border-bottom:1px  dotted #bbb;
	margin:10px 0px;
}

.parrafo_info {
	width:870px;
	margin-top:10px;
	margin-left:10px;
	padding-bottom:1px;
	background-color:#;
	font-size:15px;
	text-align:justify;
	color:#333;
}

.parrafo_info_titulo {
	width:870px;
	margin-top:20px;
	margin-left:10px;
	padding-bottom:1px;
	background-color:#;
	font-size:19px;
	font-weight:bold;
	text-align:center;
}

.estilo_atn {
	width:870px;
	margin-top:10px;
	margin-left:10px;
	padding-bottom:1px;
	background-color:#;
	font-size:13px;
	text-align:left;
}

.parrafo_info_subtitulo {
	width:870px;
	margin-top:10px;
	margin-left:10px;
	padding-bottom:1px;
	background-color:#;
	font-size:14px;
	font-weight:bold;
}

.estilo_tabla {
	border:1px solid #999;
	font-size:11px;
}
.estilo_tabla_texto { 
	text-align: left;
	background-color:#f2f2f2;
	padding-bottom:2px;
	border-bottom:1px solid #ccc;
}
.estilo_tabla_numeros { 
	text-align:right;
	background-color:#f2f2f2;
	padding-bottom:2px;
	border-bottom:1px solid #ccc;
}
.estilo_tabla_datos_finales {
	border:1px solid #999;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	
}



.pie {
	width:900px; 
	height:80px; 
	border-bottom:1px dotted #bbb;	
}

.pie_texto {
	width:500px;
	margin-top:2px;
	margin-left:12px;
	padding-bottom:1px;
	background-color:#;
	font-size:10px;
	color:#444;
	text-align:center;
}




