@charset "utf-8";
/* CSS Document */

.boton_ira {
	width:40px;
	height:40px;
	background-color:#;
	float:left;
	margin-left:1px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:9px;
	color:#999;
	text-align:left;
	}
#go_sitio { background-image:url(../acceso/dis/go_home.jpg);}
#go_soporte { background-image:url(../acceso/dis/go_soporte.jpg);}
#go_facebook { background-image:url(../acceso/dis/go_facebook.jpg);}
#go_vimeo { background-image:url(../acceso/dis/go_vimeo.jpg);}

.texto_pie {
	width:430px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#999;
	text-align:left;
	border-left:0px solid #ccc;
	}